<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>服务端渲染</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <style>
        .main-box {
            padding-top: 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="main-box">
            <blockquote>
                <p>简易留言板</p>
            </blockquote>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>mongoId</th>
                        <th>姓名</th>
                        <th>内容</th>
                        <th>时间</th>
                    </thead>
                    <tbody>
                        {{each list as data}}
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{data._id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.msg}}</td>
                            <td>{{data.date}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">我要留言</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="/postform/" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">name</label>
                            <input type="text" name="name" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">信息:</label>
                            <textarea class="form-control" name="msg" id="message-text"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">发送留言</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>